/* Reset some default margin and padding */
/* body, h1, h2, p {
    margin: 0;
    padding: 0;
} */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.small-container {
  width: 100%; /* Take up the full width */
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e6dddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.big-container {
  width: 60%;
  background-color: #e5e5e5;
  padding: 20px;
  box-sizing: border-box;
}

/* .container {
    max-width: 900px; 
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e6dddd; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1; 
  } */

.profile-photo {
    max-width: 30%; /* Make sure the photo doesn't exceed its container */
    height: auto;
    border-radius: 25px; /* Make the photo circular */
    /* align-items: center; */
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display:block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}
header, footer {
  height: 80px; /* Set a fixed height for the header and footer */
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}
/* Your existing styles */
/* Your additional styles */
/* header, footer {
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  width: max-content;
} */

/* Add these styles or adjust as needed */
.social-icons {
    display: flex;
    /* align-items: right; */
    /* flex-direction: column; */
  }
  
  .social-icons a {
    color: #333; /* Adjust the color as needed */
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .social-icons a:hover {
    color: #007bff; /* Change to your preferred hover color */
  }