body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Add a background color for better visibility */

    /* Center the content */
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
  max-width: 800px; /* Adjust the max-width as per your preference */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff; /* Set a background color for the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

header img {
  width: 150px; /* Adjust the size as needed */
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  margin: 2rem;
}

.project {
  margin-bottom: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.Photo {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-bottom: 10px; }