body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header, footer {
    height:max-content; 
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
} */
/* header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2.5rem;
    margin-bottom: auto;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: stretch;
  } */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2.5rem;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: stretch;
  }
  
  header img {
    width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
  }
.container-wrapper {
    display: flex;
}

.small-container {
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
}

.page-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e6dddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.big-container {
    width: 100%;
    background-color: #e5e5e5;
    padding: 20px;
    box-sizing: border-box;
}
.profile-photo {
    max-width: 30%; /* Make sure the photo doesn't exceed its container */
    height: auto;
    border-radius: 25px; /* Make the photo circular */
    align-items: center;
}
.copyright {
    font-size: 14px;
    margin-top: 10px;
  
  }